In [36]:
import pandas as pd
import numpy as np

In [37]:
df=pd.read_csv("Gold Quality.csv")
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [38]:
df.drop(['depth'], axis='columns', inplace=True)

In [39]:
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
table         0
x             0
y             0
z             0
price         0
dtype: int64

In [40]:
columns_remove = ['Unnamed: 0','x','y','z']
df = df.drop(columns_remove, axis=1)

In [41]:
df.head()

   carat        cut color clarity  table  price
0   0.30      Ideal     E     SI1   58.0    499
1   0.33    Premium     G      IF   58.0    984
2   0.90  Very Good     E    VVS2   60.0   6289
3   0.42      Ideal     F     VS1   56.0   1082
4   0.31      Ideal     F    VVS1   59.0    779

In [42]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 

df['cut'] = label_encoder.fit_transform(df['cut'])
df['color'] = label_encoder.fit_transform(df['color'])
df['clarity'] = label_encoder.fit_transform(df['clarity'])
df.head()

   carat  cut  color  clarity  table  price
0   0.30    2      1        2   58.0    499
1   0.33    3      3        1   58.0    984
2   0.90    4      1        7   60.0   6289
3   0.42    2      2        4   56.0   1082
4   0.31    2      2        6   59.0    779

In [43]:
X = df.drop(['price'],1)
Y = df['price']

In [44]:
from sklearn.preprocessing import StandardScaler

In [45]:
min_max_scaler = StandardScaler()
X = min_max_scaler.fit_transform(X)

In [46]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=26)
print('Train:', len(y_train))
print('Test:', len(y_test))

Train: 21573
Test: 5394

In [49]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [53]:
from sklearn.linear_model import LinearRegression

experiment = {}

model2 = LinearRegression()
model2.fit(X_train, y_train)

LinearRegression()

In [54]:
y_pred = model2.predict(X_test)

In [55]:
r2 = r2_score(y_test,y_pred)
mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred, squared=True)
rmse = mean_squared_error(y_test,y_pred, squared=False)

experiment['Linear Regression'] = {'R2':r2, 'MAE':mae, 'MSE':mse, 'RMSE':rmse}

print('R2  :',r2)
print('MAE :',mae)
print('MSE :',mse)
print('RMSE:',rmse)

R2  : 0.8878198093547761
MAE : 923.1765602686685
MSE : 1812957.792955725
RMSE: 1346.461211084718